#
# ZFG10 gitignore
#

# Ignore mods folder
mods/

# Ignore github folder
.github/

# Ignore vscode folder
.vscode/

# Ignore other folders
saves/
server-resource-packs/
patchouli_books/
screenshots/
modernfix/
logs/
local/
ldlib/
journeymap/
fancymenu_data/
ESM/
crash-reports/
coremods/
backups/
backups/*
.cache/
saves/*
gtceu/
figura/

# Ignore files outside of folders
emi.json
patchouli_data.json
usercache.json
usernamecache.json


# Complete mess
backups/backups.json
local/ftbchunks/data/204f463a-9988-4e49-a15a-249b0b1ef972/biome_map.txt
local/ftbchunks/data/204f463a-9988-4e49-a15a-249b0b1ef972/block_map.txt
local/ftbchunks/data/204f463a-9988-4e49-a15a-249b0b1ef972/minecraft_overworld/0EA60-0EA5F.zip
local/ftbchunks/data/204f463a-9988-4e49-a15a-249b0b1ef972/minecraft_overworld/0EA60-0EA60.zip
local/ftbchunks/data/204f463a-9988-4e49-a15a-249b0b1ef972/minecraft_overworld/0EA61-0EA5F.zip
local/ftbchunks/data/204f463a-9988-4e49-a15a-249b0b1ef972/minecraft_overworld/0EA61-0EA60.zip
logs/2025-09-21-1.log.gz
logs/2025-09-21-2.log.gz
logs/2025-09-21-3.log.gz
logs/2025-09-21-4.log.gz
logs/2025-09-21-5.log.gz
logs/2025-09-21-6.log.gz
logs/2025-09-21-7.log.gz
logs/2025-09-21-8.log.gz
logs/debug-1.log.gz
logs/debug-2.log.gz
logs/debug-3.log.gz
logs/debug-4.log.gz
logs/debug-5.log.gz
logs/debug.log
logs/latest.log
logs/kubejs/client.log
logs/kubejs/server.log
logs/kubejs/startup.log
saves/TW1/level.dat
saves/TW1/level.dat_old
saves/TW1/data/gtceu_ore_vein_cache.dat
saves/TW1/data/raids.dat
saves/TW1/data/random_sequences.dat
saves/TW1/DIM-1/data/raids.dat
saves/TW1/DIM1/data/raids_end.dat
saves/TW1/dimensions/ad_astra/earth_orbit/data/raids.dat
saves/TW1/dimensions/ad_astra/glacio/data/raids.dat
saves/TW1/dimensions/ad_astra/glacio_orbit/data/raids.dat
saves/TW1/dimensions/ad_astra/mars/data/raids.dat
saves/TW1/dimensions/ad_astra/mars_orbit/data/raids.dat
saves/TW1/dimensions/ad_astra/mercury/data/raids.dat
saves/TW1/dimensions/ad_astra/mercury_orbit/data/raids.dat
saves/TW1/dimensions/ad_astra/moon/data/raids.dat
saves/TW1/dimensions/ad_astra/moon_orbit/data/raids.dat
saves/TW1/dimensions/ad_astra/venus/data/raids.dat
saves/TW1/dimensions/ad_astra/venus_orbit/data/raids.dat
saves/TW1/dimensions/ae2/spatial_storage/data/raids.dat
saves/TW1/entities/r.0.-1.mca
saves/TW1/entities/r.0.0.mca
saves/TW1/entities/r.1.-1.mca
saves/TW1/entities/r.1.0.mca
saves/TW1/poi/r.0.0.mca
saves/TW1/region/r.0.-1.mca
saves/TW1/region/r.0.0.mca
saves/TW1/region/r.1.-1.mca
saves/TW1/region/r.1.0.mca
