#
# ZFG10 gitignore
#

# Ignore mods folder
mods/

# Ignore github folder
.github/

# Ignore vscode folder
.vscode/

# Ignore other folders
saves/
server-resource-packs/
patchouli_books/
screenshots/
modernfix/
logs/
local/
ldlib/
journeymap/
fancymenu_data/
ESM/
crash-reports/
coremods/
backups/
.cache/